

@tailwind components;
@tailwind utilities;


.songs {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  border: 1px solid #0ea5e9;
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    background-color: theme('colors.primary[100]');
  }

  .btn-secondary {
    @apply py-2 px-4 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    background-color: theme('colors.secondary.light');
  }
}
